<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.umbra.chimera.tether</string>
    <key>CFBundleName</key>
    <string>CHIMERA TETHER</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>CHIMERA TETHER senses the proximity of your paired companion device over Bluetooth (the dead-man switch).</string>
</dict>
</plist>
